äöüß=äöüß-encoding test

# Requirements to be met by the XTF-SEL

ii.req.JH.1__Name=Report contains information about an unreachable endpoint
ii.req.JH.1__Description=The Report shall contain an error message about unreachable endpoints -even if the assertions in the test steps will not fail

ii.req.JH.2__Name=Report contains information about not compilable groovy scripts
ii.req.JH.2__Description=The Report shall contain the error messages about syntax errors in groovy scripts

ii.req.JH.3__Name=Report contains information about generated test cases
ii.req.JH.3__Description=The Report shall contain information about test cases that are not available at the start of the test run but generated during test execution
ii.req.JH.3##R.1__Name=Sub requirements are also linked when test cases are generated!
ii.req.JH.3##R.2__Description=The Report shall also contain the sub requirements in test cases that are generated at test runtime


# Dummy Requirements

TR-V1__Name=View Services (DUMMY REQUIREMENT)
TR-V1__Description=For various combinations of valid mandatory request parameters the view service must return a valid XML file.
TR-V1__Reference=SPEC.10, 3.2.3, SPEC 11, Chapter 3
TR-V1##R.1__Name=Mandatory GetCapabilities parameters (DUMMY REQUIREMENT)
TR-V1##R.1__shortDescription=The Service returns a schema valid Capabilities response which is requested with mandatory parameters in version 1.1.0 or 1.3.0 within 2 seconds.
TR-V1##R.2__Name=Mandatory GetCapabilities INSPIRE parameters (DUMMY REQUIREMENT)
TR-V1##R.2__shortDescription=The Service returns a schema valid INSPIRE Capabilities response which is requested with mandatory INSPIRE parameters in version 1.1.0 or 1.3.0 within 2 seconds
TR-V1##R.2__Description=The GetCapabilities response must contain the following Inspire Metadata: inspire_vs:ResourceType, inspire_vs:SpatialDataServiceType, inspire_vs:TemporalReference, wms:Keyword, inspire_vs:Conformity, wms:Fees, wms:AccessConstraints, inspire_vs:MetadataPointOfContact, inspire_vs:MetadataDate, inspire_vs:Languages
TR-V2__Name=Another Lorem Ipsum Requirement (DUMMY REQUIREMENT)
TR-V2__Description=Lorem Ipsum Description
TR-V2__Reference=Lorem Ipsum Reference
TR-V2##R.1__Name=Sub Req 1 NameS (DUMMY REQUIREMENT)
TR-V2##R.1__shortDescription=Sub Req 1 short description
TR-V2##R.2__Name=Sub Req 2 WFS_Capabilties is the root element (DUMMY REQUIREMENT)
TR-V2##R.2__Description=Sub Req 2 The root element of a Capablities response is 'WFS_Capabilties'